<module>
	<rawname>queues</rawname>
	<name>Queues</name>
	<version>1.0.3</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<queues>Queues</queues>
	</menuitems>
	<location>release/queues-1.0.2.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Queues</info>
	<md5sum>ebccb9ef2dd19fc8a94c865383045a98</md5sum>
</module>
