<module>
	<rawname>queues</rawname>
	<name>Queues</name>
	<version>2.1</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<queues>Queues</queues>
	</menuitems>
	<location>release/queues-2.1.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Queues</info>
	<md5sum>c09577ddee1161cddd6eaf888711be3d</md5sum>
</module>
