<module>
	<rawname>queues</rawname>
	<repo>standard</repo>
	<name>Queues</name>
	<version>2.11.0.10</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<category>Applications</category>
	<description>
		Creates a queue where calls are placed on hold and answered on a first-in, first-out basis. Many options are available, including ring strategy for agents, caller announcements, max wait times, etc. 
	</description>
	<changelog>
		*2.11.0.10* #6836, #6881, #6927
		*2.11.0.9* #6744
		*2.11.0.8* #6703
		*2.11.0.7* Added better granularity and range to some Queue time options
		*2.11.0.6* Fixes #6446, queue recording
		*2.11.0.5* mis-formed html
		*2.11.0.4* #6333, adds advanced settings for default starting Queue Event values.
		*2.11.0.3* add gotodest splicing label
		*2.11.0.2* remove some dialplan warnings
		*2.11.0.1* #4767, #6084, #5895, #6092 
		*2.11.0.0* #6051
	</changelog>
	<depends>
		<version>2.5.0alpha1</version>
		<module>recordings ge 3.3.8</module>
		<module>core ge 2.11.0.0rc1.2</module>
	</depends>
	<menuitems>
		<queues needsenginedb="yes">Queues</queues>
	</menuitems>
	<popovers>
		<queues>
			<display>queues</display>
		</queues>
	</popovers>
	<location>release/2.11/queues-2.11.0.10.tgz</location>
	<md5sum>ea5c8063099b54c197c1b2c71d732de6</md5sum>
</module>
